<style>
    .fetch-api {
        margin: 30px 0
    }

    .btn-delete-all {
        color: white;
        background-color: red;
    }
</style>
<main>
    <div class="fetch-api">
        <button id="btn-get">GET</button>
        <button id="btn-post">POST</button>
        <button id="btn-put">PUT</button>
        <button id="btn-delete">DELETE</button>
    </div>
    <h1>My Works</h1>
    <section>
        <h2>The following are some projects I've developed.</h2>

        <div id="projects"></div>

        *These are just fictitious projects and sites.
    </section>
</main>